---
layout: default
title: Hello
---

<article class="post text-center">
  <header class="post-header">
    <h1 class="post-title">Hello.</h1>
  </header>

  <p class="social-icons">
    <a href="{{ site.author.github.link }}"><i class="icon icon-github"></i></a>
    <a href="{{ site.author.twitter.link }}"><i class="icon icon-twitter"></i></a>
    <a href="{{ site.author.linkedin.link }}"><i class="icon icon-linkedin"></i></a>
    <a href="{{ site.author.email | prepend:'mailto:' }}" rel="nofollow"><i class="icon icon-mail"></i></a>
    <a href="{{ site.author.docker.link }}"><i class="icon icon-docker"></i></a>
    <a href="{{ site.author.stackexchange.link }}"><i class="icon icon-stack-exchange"></i></a>
    <a href="{{ site.author.google_plus.link }}"><i class="icon icon-google-plus"></i></a>
  </p>
</article>

<aside class="recent">
  <h2 class="recent-title">Recent Posts</h2>
  <nav class="posts">
    {% for post in site.posts limit:3 %}
      <div class="posts-item">
        <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b" }}</time></small>
        <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
      </div>
    {% endfor %}
  </nav>
</aside>

{% include liga.html %}
