<meta name="author" content="{{ site.author.name }}">

<link rel="author" href="{{ site.author.google_plus.link }}">
<link href="{{ page.url | prepend:site.baseurl | remove: "index.html" }}" rel="canonical">

<meta name="twitter:site" content="@{{ site.author.twitter.username }}">
<meta name="twitter:title" content="{{ page.title }} &mdash; {{ site.title }}">

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:card" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:card" content="{{ site.description }}">
{% endif %}
<meta name="twitter:creator" content="@{{ site.author.twitter.username }}">

<meta property="og:title" content="{{ page.title }} &mdash; {{ site.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ page.url | prepend:site.baseurl }}">

{% if page.image %}
<meta property="og:image" content="{{ page.image | prepend:site.baseurl }}">
{% else %}
<meta property="og:image" content="{{ '/assets/images/logo.png' | prepend:site.baseurl }}">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

<meta property="og:site_name" content="{{ site.title }}">
